@{
    ViewData["Title"] = "Home Page";
}
<script>
    const chartData = @Html.Raw(Json.Serialize(Model));
</script>

<div class="text-center">
    <p>Willkommen zu meinem BudgetTracker Projekt!</p>
    <p>Demoaccount ist unter Login zu finden.</p>
</div>
